*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #000080, #000000);
  color: white;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #b8b4b4;
  margin-bottom: 20px;
  max-width: 1000px;
  margin: 0 auto;;
}


.logo {
  padding: 0;
  margin: 0;
  height: 150px;
  width: auto;
  position: absolute;
  top: 2px;
  left: 20px;
  z-index: 10;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.logo:hover {
  transform: scale(1.05);
}

nav ul {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 40px; 
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 50px;
  padding: 10px 40px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  min-width: 600px;
  border-style: dashed;
  border-color: #aba2a2;
  list-style: none;
  transition: all 0.3s ease;
  
}

nav  a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  display: flex;
  align-content: space-between;
 
}

nav li a:hover {
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 4px white, 0 0 8px white;;
}

.cta-button {
  padding: 12px 24px;
  background: none;
  border: 2px solid #8A2BE2; 
  color: #8A2BE2;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
  position: absolute;
  right: 25%;
  top: 70%
}

.cta-button:hover {
  background: #8A2BE2;
  color: white;
  box-shadow: 0 0 10px #8A2BE2, 0 0 20px #8A2BE2;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #000080, #000000);
  z-index: -1;
}

.checkbtn {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

#check {
  display: none;
}




@media (max-width: 858px) {
  

  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px); 
    top: 0;
    left: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: none;
    min-width: unset;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    border-style: none;
    border-radius: 0;
    transform: none;
    overflow: hidden;
  }  


  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  
  nav ul li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }

  #check:checked ~ ul {
    left: 0;
    
  }

  
  h1 span {
    display: block;
  }


  h1 {
    font-size: 2.5rem;
    text-align: left;
    width: 90%;
    margin: 0 0 25px 10px;
  }


  p {
    font-size: 1rem;
    color: #b8b4b4;
    max-width: 87%;
    margin: 0 10px;
    text-align: left;
    line-height: 1.6;
  }

  .cta-button {
    position: static; 
    width: 80%;
    padding: 12px;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
}




  